<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>RCA - 236</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Colors CSS -->
    
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div class="topbar text-center hidden-xs">
        <p>Bienvenue sur le site des activités de la Présidence de la République. <a href="#">Suivre tous les évènements et réalisations!</a></p>
    </div>

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/static/uploads/logo1.png" style="width:180px"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-scroll-nav="0" href="#main-banner" class="active">Accueil</a></li>
                        <li><a data-scroll-nav="1" href="#about">Actualité</a></li>
                        <li><a data-scroll-nav="2" href="#issues">La Présidence</a></li>
                        <li><a data-scroll-nav="3" href="#event">Evènements</a></li>
                        <li><a data-scroll-nav="3" href="#international">International</a></li>
                        <li><a data-scroll-nav="7" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	
	<div id="main-banner" class="banner-one" data-scroll-index="0">
		<div data-src="/static/uploads/touadera.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">Au service de ce grand pays qu'est la RCA #Servir</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">La Présidence au plus près de vous. Parce que chaque citoyen compte.</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">Ecrire à la Présidence</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
		<div data-src="/static/uploads/touaderaonu.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">Au service de ce grand pays qu'est la RCA #Servir</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">La Présidence au plus près de vous. Parce que chaque citoyen compte.</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">Ecrire à la Présidence</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
		<div data-src="/static/uploads/touadera.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">Au service de ce grand pays qu'est la RCA #Servir</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">La Présidence au plus près de vous. Parce que chaque citoyen compte.</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">Ecrire à la Présidence</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
	</div> <!-- /#theme-main-banner -->


    <div id="about" data-scroll-index="1" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>M. Faustin Archange Touadera </h4>
                        <h6>Bienvenue sur le portail de la Présidence</h6>
                        <blockquote class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</blockquote>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>

                        <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1">Voir plus</a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="/static/uploads/touaderaspeech.jpg" alt="" class="img-responsive img-rounded">
                        <a href="https://www.youtube.com/watch?v=aIIrC8d_keo" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="hr1"> 

            {% if request.user.is_authenticated%}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activitemodal" style="margin-bottom:10px">Ajouter Activité</button>
            {% endif %}

            
            <div class="row text-center">
                {% for e in activites %}
                {% if forloop.counter < 5 %}
                <div class="col-md-6 col-sm-6 col-xs-12">
                   <div class="service-widget">
                        <div class="post-media_pp wow fadeIn">
                            <a href="{{e.image.url}}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="{{e.image.url}}" style="width:100%; height:300px" alt="" class="img-responsive">
							<div class="hover-up">
								<h3>{{e.titre}}</h3>
								<p>{{e.contenu}}.</p>
							</div>
                        </div>
                        
                    </div><!-- end service -->
                </div>
                {% endif %}
                {% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section nopad">
        <img src="/static/uploads/" alt="" class="img-responsive">
    </div>

    <div id="issues" data-scroll-index="2" class="section lb">
        <div class="container">
            <div class="section-title text-left">
                <h3>La Présidence</h3>
                <p class="lead">Les différents services au sein de la Présidence ont été réorganisés<br> dans le but d'une optimisation continue.</p>
            </div><!-- end title -->

            <div class="row">
				<div class="col-md-5">
                    <div class="issuse-wrap2 clearfix">
                        <img src="/static/uploads/president.jpg" alt="" class="img-responsive img-rounded">
                        <h4>Le Président de la République</h4>
                        <p>Garant des intitutions nationales, M. Faustin Archange Touadera a la vision d'une RCA ancrée dans l'emergence.  </p>
                        <p>Sa politique est inclusive et requiert que toutes les forces vives centraficaines.</p>
                    </div><!-- end issue -->
                </div><!-- end col -->
                <div class="col-md-7">
                    <div class="issuse-wrap clearfix">
                        <img src="/static/uploads/ernest.jpg" alt="" class="img-responsive img-rounded alignleft">
                        <h4>Le Sécretariat Général</h4>
                        <p>Chargé de coordonner les services administratifs de la présidence de la République. Le Sécrétaire Général est M. Ernest Mada</p>
                    </div><!-- end issue -->

                    <div class="issuse-wrap clearfix">
                        <img src="/static/uploads/obed.jpg" alt="" class="img-responsive img-rounded alignleft">
                        <h4>Le Cabinet Présidentiel</h4>
                        <p>M. Obed Namsio est l'actuel directeur de cabinet, il est chargé la promouvoir la politique définie depuis le palais de la renaissance.</p>
                    </div><!-- end issue -->

                    <div class="issuse-wrap clearfix">
                        <img src="/static/uploads/yaloke.png" alt="" class="img-responsive img-rounded alignleft">
                        <h4>La Cellule Communication</h4>
                        <p>La Cellule communication est gérée par M. Albert Yalokê Mopkême qui est le porte parole de la Présidence.</p>
                    </div><!-- end issue -->

                    <div class="issuse-wrap lastchild clearfix">
                        <img src="/static/uploads/palais.jpeg" alt="" class="img-responsive img-rounded alignleft">
                        <h4>Le Service Protocole</h4>
                        <p> Chargé d'organiser les cérémonies officielles et de coordonner les évènements nationaux en accord avec le protocole de la République.</p>
                    </div><!-- end issue -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->




	<div id="blog" data-scroll-index="6" class="section wb">
		<div class="container">
			<div class="section-title text-center">
				<span>Actualité</span>
                <h3>Où que vous soyez</h3>
                <p class="lead">Retrouvez toutes les infos importantes de la Présidence.</p>
            </div><!-- end title -->
            {% if request.user.is_authenticated%}
            <button type="button" class="btn btn-primary" style="margin-bottom:10px" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Actu</button>
            {% endif %}
			<div class="row">
                {% for e in actus %}
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="{{e.image.url}}" class="img-responsive" alt="post-img" style="width:100%; height:170px" />
							<div class="date">
								<span>{{e.date | date:'M'}}</span>
								<span>{{e.date | date:'Y'}}</span>
							</div>
						</div>
						<div class="post-info">
							<h4>{{e.titre}}</h4>
							<ul>
                                <li>Par Henri FLorentin</li>
                                <li><a href="#"><b> Commentaires</b></a></li>
                            </ul>
							<p>{{e.contenu | truncatewords:40}}...</p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
			
		</div>
	</div>




    <div id="event" data-scroll-index="3" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Evènements</h3>
                <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
            </div><!-- end title -->
            {% if request.user.is_authenticated%}
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">Ajouter Evènement</button>
            {% endif %}
            <div class="row">
                {% for e in events %}
                {% if forloop.counter < 4 %}
                <div class="col-md-4">
                    <div class="participate-wrap">
                        <small>{{e.type_evenement}}</small>
						<figure>
							<img src="{{e.image.url}}" alt="" class="img-responsive" style="height:180px">
							<figcaption><a href="#" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
						</figure>
						<div class="event_dit">
							<h4>{{e.titre}}</h4>
							<ul>
								<li> <a href="#"> <i class="fa fa-calendar"></i> {{e.date | date:'d M Y'}} </a> </li>
								<li> <a href="#"> <i class="fa fa-clock-o"></i> {{e.date | date:'H:i'}} </a>  </li>
								<li> <a href="#"> <i class="fa fa-map-marker"></i> {{e.location}} </a> </li>
							</ul>
							<p>{{e.contenu |truncatewords:50}}...</p>
							<a href="event-detail.html" class="btn btn-light btn-radius btn-brd grd1">Details</a>
						</div>
                    </div><!-- end participate -->
                </div><!-- end col -->
                {% endif %}
                {% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

	


	<div id="gallery" data-scroll-index="4" class="section wb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Retour en images</h3>
                <p class="lead">Les images marquantes des activités qui ont ponctué la vie de la Présidence.</p>
            </div><!-- end title -->

			<div class="gallery-menu row">
				<div class="col-md-12">
					<div class="button-group filter-button-group text-center">
						<button class="active" data-filter="*">Tout</button>
						<button data-filter=".gal_a">Rencontres</button>
						<button data-filter=".gal_b">Evènement</button>
						<button data-filter=".gal_c">Economie</button>
						<button data-filter=".gal_d">Education</button>
					</div>
				</div>
			</div>
            {% if request.user.is_authenticated%}
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">Ajouter Image</button>
            {% endif %}
			<div class="gallery-list row">
				<div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-01.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-02.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-03.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-04.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-05.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
					<div class="gallery-single fix">
						<img src="/static/uploads/gallery_img-06.jpg" class="img-responsive" alt="Image">
						<div class="img-overlay">
							<a href="/static/uploads/gallery_img-06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	
    <div id="international" data-scroll-index="6" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>International</h3>
                <p class="lead">Les récentes sorties diplomatiques du Président Touadera sur la scène internationale revigorent la position de la RCA sur l'échequier mondial.
                    <br> Elles vont dans le sens d'une volonté d'émergence qui jaillit partout sur le continent africain.</p>
            </div><!-- end title -->

            {% if request.user.is_authenticated%}
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">Ajouter Video</button>
            {% endif %}
            <div class="row">
                <div class="col-md-4">
                    <div class="issuse-wrap2 clearfix">
                        <div class="post-media wow fadeIn">
                            <img src="/static/uploads/pape.jpeg" alt="" class="img-responsive img-rounded">
                            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                        </div><!-- end media -->
                        <h4>Président Touadera reçu par sa sainteté</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div><!-- end issue -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="issuse-wrap2 clearfix">
                        <div class="post-media wow fadeIn">
                            <img src="/static/uploads/poutine.avif" alt="" class="img-responsive img-rounded">
                            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                        </div><!-- end media -->
                        <h4>A l'heure du libre choix de nos partenaires économique</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div><!-- end issue -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="issuse-wrap2 clearfix">
                        <div class="post-media wow fadeIn">
                            <img src="/static/uploads/macron.jpeg" alt="" class="img-responsive img-rounded">
                            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                        </div><!-- end media -->
                        <h4>De nouveaux axes de developpement</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div><!-- end issue -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	


    <div id="donate" data-scroll-index="7" class="section db">
        <div class="container">
            <div class="section-title text-center">
                <h3>Contact</h3>
                <p class="lead">Vous pouvez contactez les services de la Présidence en remplissant ce formulaire.</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                            <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Votre Prénom">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Votre Nom">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Votre Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Votre contact">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="sr-only">Choisir un service</label>
                                    <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                                        <option value="12">Direction du cabinet</option>
                                        <option value="Political Parties">Secretariat Général</option>
                                        <option value="For Politician">Service du Protocole</option>
                                        <option value="Others">Autres</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="objet" id="objet" class="form-control" placeholder="Objet de votre message">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Votre message"></textarea>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                                    <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Envoyer</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                        <a href="#">Accueil</a>
                        <a href="#">La Présidence</a>
                        <a href="#">Institutions</a>
                        <a href="#">Evènements</a>
                        <a href="#">International</a>
                        <a href="#">Contact</a>
                    </p>
                    <p class="footer-company-name">Tous les droits réservés. &copy; 2024 <a href="#">Mixactis</a> Design: 
					<a href="https://mixactisweb.onrender.com">Mixactis</a></p>
                </div>

                <div class="footer-right">
                    <form method="get" action="#">
                        <input placeholder="S'abonner au bulletin de la Présidence.." name="search">
                        <i class="fa fa-envelope-o"></i>
                    </form>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


        <!-- MODAL -->
 <!-- Button trigger modal -->

<!-- Modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="activitemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<!-- Camera Slider -->
	<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
	<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
	<script src="{% static 'js/camera.min.js' %}"></script>
	<script src="{% static 'js/scrollIt.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>

</body>
</html>